<a href="https://colab.research.google.com/github/kdj0712/study_data_analytics/blob/main/docs/quests/EDAs/preprocessing_titanic_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
df_TFD = pd.read_csv('/content/TitanicFromDisaster_train(1).csv')
df_TFD

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## 문제 풀이

### 1. 'Age' 열에서 결측치를 평균 나이로 채우기.

In [26]:
df_TFD_1 = df_TFD
mean_age = df_TFD_1['Age'].mean()
insert_age = df_TFD_1['Age'].fillna(mean_age,inplace=True)
df_TFD_1['Age'].describe(), df_TFD_1['Age'].isnull().sum()

(count    891.000000
 mean      29.699118
 std       13.002015
 min        0.420000
 25%       22.000000
 50%       29.699118
 75%       35.000000
 max       80.000000
 Name: Age, dtype: float64,
 0)

### 2. 'Cabin' 열에 결측치가 있는 행을 찾고, 해당 행들의 평균 'Fare' 계산하기.

In [31]:
df_TFD_2 = df_TFD
df_TFD_2_1 = df_TFD_2[df_TFD_2['Cabin'].isnull()]
df_TFD_2_1.info(), df_TFD_2_1['Fare'].mean(), df_TFD_2_1['Cabin'].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 687 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  687 non-null    int64
 1   Survived     687 non-null    int64
 2   Pclass       687 non-null    int64
 3   Name         687 non-null    object
 4   Sex          687 non-null    object
 5   Age          687 non-null    float64
 6   SibSp        687 non-null    int64
 7   Parch        687 non-null    int64
 8   Ticket       687 non-null    object
 9   Fare         687 non-null    float64
 10  Cabin        0 non-null      object
 11  Embarked     687 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 69.8+ KB

(None, 19.157325327510915, array([nan], dtype=object))

### 3. 'Embarked' 열에서 결측치가 있는 행을 찾고, 가장 많이 등장하는 항구로 채우기.

In [40]:
df_TFD_3 = df_TFD
df_TFD_3['Embarked'].value_counts()
df_TFD_3['Embarked'].fillna('S',inplace=True)
df_TFD_3['Embarked'].value_counts(),df_TFD_3['Embarked'].isnull().sum()

(S    646
 C    168
 Q     77
 Name: Embarked, dtype: int64,
 0)

### 4. 'Fare' 열에서 평균보다 3 표준편차(mean + 3 * std) 이상 높은 이상치를 가진 행들을 찾기.

In [48]:
df_TFD_4 = df_TFD
df_TFD_4['Fare'].describe()
fare_mean = df_TFD_4['Fare'].mean()
fare_std = df_TFD_4['Fare'].std()
fare_mean_std = fare_mean + 3 * fare_std
con_4 = f'Fare >= {fare_mean_std}'
df_TFD_4_1 = df_TFD_4.query(con_4)
df_TFD_4_1.info(), df_TFD_4_1['Fare'].min()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 27 to 779
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  20 non-null     int64
 1   Survived     20 non-null     int64
 2   Pclass       20 non-null     int64
 3   Name         20 non-null     object
 4   Sex          20 non-null     object
 5   Age          20 non-null     float64
 6   SibSp        20 non-null     int64
 7   Parch        20 non-null     int64
 8   Ticket       20 non-null     object
 9   Fare         20 non-null     float64
 10  Cabin        17 non-null     object
 11  Embarked     20 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ KB

(None, 211.3375)

### 5.'SibSp' (형제 자매/배우자 수)가 5 이상인 이상치를 가진 행들을 찾기.

In [50]:
df_TFD_5 = df_TFD
con_5 = 'SibSp >= 5'
df_TFD_5_1 = df_TFD_5.query(con_5)
df_TFD_5_1.info(), df_TFD_5_1['SibSp'].describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 59 to 863
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  12 non-null     int64
 1   Survived     12 non-null     int64
 2   Pclass       12 non-null     int64
 3   Name         12 non-null     object
 4   Sex          12 non-null     object
 5   Age          12 non-null     float64
 6   SibSp        12 non-null     int64
 7   Parch        12 non-null     int64
 8   Ticket       12 non-null     object
 9   Fare         12 non-null     float64
 10  Cabin        0 non-null      object
 11  Embarked     12 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 1.2+ KB

(None,
 count    12.000000
 mean      6.750000
 std       1.544786
 min       5.000000
 25%       5.000000
 50%       8.000000
 75%       8.000000
 max       8.000000
 Name: SibSp, dtype: float64)

### 6. 'Parch' (부모/자녀 수) 열에서 0이 아닌 값을 가진 행들의 평균 'Age' 계산하기.

In [59]:
df_TFD_6 = df_TFD
con_6 = 'Parch > 0'
df_TFD_6_1 = df_TFD_6.query(con_6)
df_TFD_6_1.info(), df_TFD_6_1['Parch'].describe(), df_TFD_6_1['Age'].mean()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213 entries, 7 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  213 non-null    int64
 1   Survived     213 non-null    int64
 2   Pclass       213 non-null    int64
 3   Name         213 non-null    object
 4   Sex          213 non-null    object
 5   Age          213 non-null    float64
 6   SibSp        213 non-null    int64
 7   Parch        213 non-null    int64
 8   Ticket       213 non-null    object
 9   Fare         213 non-null    float64
 10  Cabin        63 non-null     object
 11  Embarked     213 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 21.6+ KB

(None,
 count    213.000000
 mean       1.596244
 std        0.882954
 min        1.000000
 25%        1.000000
 50%        1.000000
 75%        2.000000
 max        6.000000
 Name: Parch, dtype: float64,
 23.63451808892571)

### 7. 'Fare'가 0인 행들을 찾고, 이를 평균 'Fare'로 채우기.

In [85]:
df_TFD_7 = df_TFD
fare_7 = df_TFD_7['Fare'].mean()
con_7 = 'Fare == 0'
df_TFD_7_1 = df_TFD_7.query(con_7)
df_TFD_7_1['Fare'] = df_TFD_7_1['Fare'].replace(0.0,fare_7)
df_TFD_7_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 179 to 822
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  15 non-null     int64
 1   Survived     15 non-null     int64
 2   Pclass       15 non-null     int64
 3   Name         15 non-null     object
 4   Sex          15 non-null     object
 5   Age          7 non-null      float64
 6   SibSp        15 non-null     int64
 7   Parch        15 non-null     int64
 8   Ticket       15 non-null     object
 9   Fare         15 non-null     float64
 10  Cabin        3 non-null      object
 11  Embarked     15 non-null     object
dtypes: float64(2), int64(5), object(5)
memory usage: 1.5+ KB

<ipython-input-85-1d17c9642056>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_TFD_7_1['Fare'] = df_TFD_7_1['Fare'].replace(0.0,fare_7)

0